<html>     
<head>
<meta charset="utf-8">
<meta content='width=device-width,initial-scale=1' name='viewport'/>
<title>feedback form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8" />
    <script type="text/javascript">
alert("All data are kept confidential!!");
prompt("Enter Your Roll No. to Fill Feedback");
prompt("Enter Your Branch to Fill Feedback");
</script>
<style type="text/css">


body
{
 background-image: url('image3.jpeg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
}
h4
{
font-style: italic;
          font-size: 250%;
          text-align: center;
}

form
{
margin: 50px 200px;
border:4px solid black;
background-color: #F3F2F1;
font-size: 150%;
}

        .image
        {
          background-repeat: no-repeat;
          background-position: center;
          opacity:0.7;
          height:100px;
          width: 100px;
        }
        
        .t1
        {
font-size: 100%;
        }
        .jumbotron{border-radius: 50px;}
</style>


</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">PU OFFICIAL WEBSITE</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/">Home</a></li>
      <li><a href="image">IMAGE GALLERY</a></li>
      <li><a href="help">HELPLINE NUMBERS AND INFO</a></li>
      <li class="active"><a href="feedback">Feedback Form</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron">
<h4 class="display-4" style="text-decoration:underline;font-weight:bold">PANJAB UNIVERSITY,CHANDIGARH</h4>
<p class="lead" style="text-align: center;">Feedback Form:</p>
  <hr class="my-4" style="width: 50%;">
</div>
    <form  name= "feedback" >

    <center>
      <img src="https://upload.wikimedia.org/wikipedia/en/6/6f/Seal_Panjab_University.jpg" class="image" > 

<p style="text-decoration:underline;font-weight:bold">Note:</p>
<ol type="i">
<li style="font-style: italic;text-align: left">This form is to filled only by students having at least 65% attendence </li>
    <li style="font-style: italic">Formation provided by you will be kept confidential and will be used only for student participation in quality enchancement</li>
    </ol>
    
<span style="font-weight:bold;font-style: italic;margin-left: 100px;">Feedback(Curriculum,Teaching,Learning & Evaluation)</span>
    <ol type="I">
    <li style="font-weight:bold ">For each of the question, you are required to indicate your option by encircling the letter a, b, c and d.</li>
<table >
<tr>
   <td style="font-weight:bold ;font-size: 130%">1. Course Content:</td>
   <td colspan="1"></td>
   </tr>
          <tr>
         <td>a) can be covered in one semester<input type="radio" name="1" value="a" required/></td>
         <td>b) Too much to be adequately covered in one semester<input type="radio" name="1"  value="b" required/></td>
      </tr>
      <tr>
         <td >c) Not enough for one semester<input type="radio" name="1" value="c" required/></td>
         <td >d) Difficult to comment<input type="radio" name="1" value="d" required/></td>
      </tr>
<tr>
   <td style="font-weight:bold ;font-size: 130%">2. Relevance of the course in the overall structure of program:</td>
   <td colspan="1"></td>
   </tr>
    <tr>
         <td>a) Very relevant<input type="radio" name="2" value="a"  required/></td>
         <td >b) not at all relevent<input type="radio" name="2" value="b"  required/></td>
       </tr>
       <tr>  
         <td>c) Reasonably relevant<input type="radio" name="2"  value="c" required/></td>
         <td>d) Difficult to comment<input type="radio" name="2"  value="d" required/></td>
       <tr>
<tr>
<td style="font-weight:bold ;font-size: 130%">3. Overlap with other courses:</td>
<td 6ycolspan="1"></td>
   </tr>
    <tr>
        <td>a) No overlap<input type="radio" name="3" value="a" required/></td>
        <td>b) Repetition of several topics<input type="radio" name="3" value="b"  required/></td>
      </tr>
      <tr>
        <td>c) Some overlap<input type="radio" name="3"  value="c" required/></td>
        <td>d) Difficult to comment<input type="radio" name="3"  value="d" required/></td>
      </tr>
  <tr>
  <td style="font-weight:bold ;font-size: 130%">4. Recommended Reading material was:</td>
  <td colspan="1"></td>
  </tr>
    <tr>
         <td>a) Adequate and relevant<input type="radio" name="4" value="a"  required/></td>
         <td>b) mostly inadequate<input type="radio" name="4"  value="b" required/></td>
      </tr>
      <tr>  
         <td>c) To some extent adequate and relevant<input type="radio" name="4" value="c"  required/></td>
         <td>d) Cannot comment<input type="radio" name="4"  value="d" required/></td>
      <tr>
  <tr>
<td style="font-weight:bold ;font-size: 130%">5. Class tests/ mid-semester tests were conducted:</td>
<td colspan="1"></td>
  </tr>
    <tr>
        <td>a) As per schedule and satisfactorily<input type="radio" name="5" value="a"  required/></td>
        <td>b) In an unsatifactory manner<input type="radio" name="5" value="b"  required/></td>
      </tr>
      <tr>
        <td>c) Never<input type="radio" name="5"  value="c" required/></td>
        <td>d) But were inadequate<input type="radio" name="5"  value="d" required/></td> 
      </tr> 
   <tr>
   <td style="font-weight:bold ;font-size: 130%">6. The tests/mid-term tests were:</td>
<td colspan="1"></td>
   </tr>
    <tr>
        <td>a) Difficult<input type="radio" name="6" value="a"  required/></td>
        <td>b) Balanced<input type="radio" name="6"  value="b" required/></td>
      </tr>
      <tr>
        <td>c) Easy<input type="radio" name="6" value="c"  required/></td>
        <td>d) Out of syllabus<input type="radio" name="6"  value="d" required/></td>
          </tr>
   </table>         
<li style="font-weight:bold;text-align: left"><th>Using the rating scale below, please tick the best value that expresses your opinion.</th></li>
<p style="font-weight:bold">(1-strongly disagree, 2-disagree, 3-neither agree nor disagree, 4-agree, 5-strongly agree)
</ol>
<table border="3px" cellspacing="0px" cellpadding="0px" width="850px" style="font-size: 110% " class="jumbotron">
<tr>
<th colspan="2"></th>
<th>1</th>
<th>2</th>
<th>3</th>
<th>4</th>
<th>5</th>
</tr>
<tr>
<th>1.</th>
<th style="text-align:left">The teacher completes the entire syllabus in time</th>
<td><input type="radio" name="a" value="1" required></td>
<td><input type="radio" name="a" value="2" required></td>
<td><input type="radio" name="a" value="3" required></td>
<td><input type="radio" name="a" value="4" required></td>
<td><input type="radio" name="a" value="5" required></td>
</tr>
<tr>
<th>2.</th>
<th style="text-align:left">The teacher has subject knowledge</th>
<td><input type="radio" name="b" value="1" required></td>
<td><input type="radio" name="b" value="2" required></td>
<td><input type="radio" name="b" value="3" required></td>
<td><input type="radio" name="b" value="4" required></td>
<td><input type="radio" name="b" value="5" required></td>
</tr>
<tr>
<th>3.</th>
<th style="text-align:left">The teacher communicates clearly and inspires me by his/her teaching</th>
<td><input type="radio" name="c" value="1" required></td>
<td><input type="radio" name="c" value="2" required></td>
<td><input type="radio" name="c" value="3" required></td>
<td><input type="radio" name="c" value="4" required></td>
<td><input type="radio" name="c" value="5" required></td>
</tr>
<tr>
<th>4.</th>
<th style="text-align:left">the teacher is punctual in the class</th>
<td><input type="radio" name="d" value="1" required></td>
<td><input type="radio" name="d" value="2" required></td>
<td><input type="radio" name="d" value="3" required></td>
<td><input type="radio" name="d" value="4" required></td>
<td><input type="radio" name="d" value="5" required></td>
</tr>
<tr>
<th>5.</th>
<th style="text-align:left">The teacher comes well prepared for the class</th>
<td><input type="radio" name="e" value="1" required></td>
<td><input type="radio" name="e" value="2" required></td>
<td><input type="radio" name="e" value="3" required></td>
<td><input type="radio" name="e" value="4" required></td>
<td><input type="radio" name="e" value="5" required></td>
</tr>
<tr>
<th>6.</th>
<th style="text-align:left">The teacher encourages paticipation and discussion in class</th>
<td><input type="radio" name="f" value="1" required></td>
<td><input type="radio" name="f" value="2" required></td>
<td><input type="radio" name="f" value="3" required></td>
<td><input type="radio" name="f" value="4" required></td>
<td><input type="radio" name="f" value="5" required></td>
</tr>
<tr>
<th>7.</th>
<th style="text-align:left">The teacher uses teaching aids, handouts, gives suitable references, make presentations and conducts seminars/tutorials, etc</th>
<td><input type="radio" name="g" value="1" required></td>
<td><input type="radio" name="g" value="2" required></td>
<td><input type="radio" name="g" value="3" required></td>
<td><input type="radio" name="g" value="4" required></td>
<td><input type="radio" name="g" value="5" required></td>
</tr>
<tr>
<th>8.</th>
<th style="text-align:left">The teacher's attitude towards student is friendly & helpful </th>
<td><input type="radio" name="h" value="1" required></td>
<td><input type="radio" name="h" value="2" required></td>
<td><input type="radio" name="h" value="3" required></td>
<td><input type="radio" name="h" value="4" required></td>
<td><input type="radio" name="h" value="5" required></td>
</tr>
<tr>
<th>9.</th>
<th style="text-align:left">The teacher is aviable and accessible in the Department </th>
<td><input type="radio" name="i" value="1" required></td>
<td><input type="radio" name="i" value="2" required></td>
<td><input type="radio" name="i" value="3" required></td>
<td><input type="radio" name="i" value="4" required></td>
<td><input type="radio" name="i" value="5" required></td>
</tr>
<tr>
<th>10.</th>
<th style="text-align:left">The evaluation process is fair and unbiased</th>
<td><input type="radio" name="j"  value="1" required></td>
<td><input type="radio" name="j"   value="2" required></td>
<td><input type="radio" name="j"  value="3" required></td>
<td><input type="radio" name="j" r value="4"equired></td>
<td><input type="radio" name="j" r value="5" equired></td>
</tr>

</table>
<p style="font-weight:bold"> (i) comments/suggestions for improvements of curriculum<textarea rows="1" cols="45" name="comment1"></textarea> </p>
<p style="font-weight:bold">(ii) comments/suggestions for the teacher <textarea rows="1" cols="61" name="comment2"></textarea></p>
<p style="text-align:center"><input type="button" value="SUBMIT"class=" btn btn-primary" style="font-size: 150%"/></p>
</center>
</form>
</body>
</html>
