<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content='width=device-width, initial-scale=1' name='viewport'/>
<title>PU helpline</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<style type="text/css">
/*body{padding: 70px;}*/
body{background: #d0d0d0;}
.jumbotron{color: #001440;
/*background: #f5ede9;*/}
navbar-inverse{background: #2c3e50;}
navbar-inverse .navbar-nav>li>a{color: white;}
navbar-inverse .navbar-brand{color: white;}
</style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">PU OFFICIAL WEBSITE</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/">Home</a></li>
      <li ><a href="image">IMAGE GALLERY</a></li>
      <li class="active"><a href="help">HELPLINE NUMBERS AND INFO</a></li>
      <li><a href="feedback">Feedback Form</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<div class="col-md-6 no-gutters">
<div class="container d-flex justify-content-center align-content-center no-gutters jumbotron" style=" width:100%;float: center; height: 90%; margin-top: 20%; margin-right: 50%;margin-left: 50%; border: 2px solid #001440;">
<table border="0" align="center" width="98%" cellpadding="5" cellspacing="1" summary="PU Administration">
  <tbody><tr>
    <td class="tdheads"><b>Offices Of</b> </td>
    <td class="tdheads"><b>Telephone</b> </td>
    <td class="tdheads"><b>Email Address</b> </td>
  </tr>
  <tr>
    <td class="tdfaculty"><a href="http://dui.puchd.ac.in">Dean of University Instruction</a></td>
    <td class="tdfaculty">&nbsp;91
      172 253 4292<br>
      &nbsp;91 172 253 4291<br>
      &nbsp;91 172 253 4290</td>
    <td class="tdfaculty"><a href="mailto:dui@pu.ac.in">dui@pu.ac.in</a></td>
  </tr>
<tr>
    <td class="tdfaculty"><a href="http://rpc.puchd.ac.in">Dean Research</a></td>
    <td class="tdfaculty">&nbsp;91 172 253 4535
      </td>
    <td class="tdfaculty"><a href="mailto:director_research@pu.ac.in">deanresearch@pu.ac.in</a></td>
  </tr>

  <tr>
    <td class="tdfaculty">Dean Science Faculty</td>
    <td class="tdfaculty">&nbsp;91
      172 253 4464</td>
    <td class="tdfaculty"><a href="mailto:deanscience@pu.ac.in">deanscience@pu.ac.in</a></td>
  </tr>
  <tr>
    <td class="tdfaculty">
    Dean Student Welfare</td>
    <td class="tdfaculty">&nbsp;91
      172 253 4565<br>
      &nbsp;91 172 253 4568-70</td>
    <td class="tdfaculty"><a href="mailto:dsw@pu.ac.in">dsw@pu.ac.in</a></td>
  </tr>
  <tr>
    <td class="tdfaculty">
    <a href="http://dis.puchd.ac.in">Dean International Students</a></td>
    <td class="tdfaculty">&nbsp;91
      172 253 4574</td>
    <td class="tdfaculty"><a href="mailto:dis@pu.ac.in">dis@pu.ac.in</a></td>
  </tr>
  <tr>
    <td class="tdfaculty"><a href="http://alumni.puchd.ac.in" target="_blank">Dean Alumni Relations</a></td>
    <td class="tdfaculty">&nbsp;91
      172 253 4575</td>
    <td class="tdfaculty"><a href="mailto:darpu@pu.ac.in">darpu@pu.ac.in</a></td>
  </tr>
  <tr>
    <td class="tdfaculty">
    <a href="http://dcdc.puchd.ac.in" target="_blank">Dean College Development Council</a></td>
    <td class="tdfaculty">&nbsp;91
      172 253 4887<br>
      &nbsp;91 172 253 4888<br>
      &nbsp;91 172 253 4889</td>
    <td class="tdfaculty"><a href="mailto:dcdc@pu.ac.in">dcdc@pu.ac.in</a></td>
  </tr>
</tbody></table>
<div class="innen termine">
<h2>Registrar's Office</h2>&nbsp;<br>
<table border="0" align="center" width="98%" cellpadding="5" cellspacing="1" summary="PU Administration">
  <tbody><tr>
    <td class="tdheads"><b>Office Of</b> </td>
    <td class="tdheads"><b>Telephone</b> </td>
    <td class="tdheads"><b>Email Address</b> </td>
  </tr>
  <tr>
    <td class="tdfaculty">Registrar</td>
    <td class="tdfaculty">91
      172 253 4867<br>
      91 172 253 4868<br>
 </td><td class="tdfaculty"><a href="mailto:regr@pu.ac.in">regr@pu.ac.in</a>  </td>
  </tr>
  <tr>
    <td class="tdfaculty">Controller of Examination</td>
    <td class="tdfaculty">91
      172 253 4813<br>
      91 172 253 4814<br>
      91 172 253 4811<br>
     </td><td class="tdfaculty"><a href="mailto:coe@pu.ac.in">coe@pu.ac.in</a></td>
  </tr>
  <tr>
    <td class="tdfaculty">Finance &amp; Development Officer</td>
    <td class="tdfaculty">91
      172 253 4841<br>
     </td><td class="tdfaculty"><a href="mailto:fdo@pu.ac.in">fdo@pu.ac.in</a></td>
  </tr>
  <tr>
    <td class="tdfaculty">Deputy Registrar (Secrecy)</td>
    <td class="tdfaculty">91
      172 253 4877</td><td class="tdfaculty"></td>
  </tr>
  <tr>
    <td class="tdfaculty">Deputy Registrar (Colleges)</td>
    <td class="tdfaculty">91
      172 253 4805</td><td class="tdfaculty"></td>
  </tr>
  <tr>
    <td class="tdfaculty">Deputy Registrar (General)</td>
    <td class="tdfaculty">91
      172 253 4857</td><td class="tdfaculty"></td>
  </tr>
  <tr>
    <td class="tdfaculty">Assistant Registrar (R &amp; S)</td>
    <td class="tdfaculty">91
      172 253 4869</td><td class="tdfaculty"></td>
  </tr>
  <tr>
    <td class="tdfaculty">Assistant Registrar (Conduct)</td>
    <td class="tdfaculty">91
      172 253 4809</td><td class="tdfaculty"></td>
  </tr>
</tbody></table>
<span class="stopFloat">&nbsp;</span></div>
<div class="innen termine">
<h2>Vice-Chancellor's Office</h2>&nbsp;<br>
<table border="0" align="center" width="98%" cellpadding="5" cellspacing="1" summary="PU Administration">
<tbody><tr>
    <td class="tdheads"><b>Office Of</b> </td>
    <td class="tdheads"><b>Telephone</b> </td>
    <td class="tdheads"><b>Fax. No.</b> </td>
    <td class="tdheads"><b>Email Address</b> </td>
</tr><tr>
    <td class="tdfaculty">Vice-Chancellor</td>
    <td class="tdfaculty">91
      172 253 4299<br>
      91 172 253 4297<br>
      91 172 253 4293</td>
    <td class="tdfaculty">91 172 254 1022</td>
    <td class="tdfaculty"><a href="mailto:vc@pu.ac.in">vc@pu.ac.in</a>
    </td>
  </tr>
  <tr>
    <td class="tdfaculty">Secretary to Vice-Chancellor</td>
    <td class="tdfaculty">91
      172 253 4298, 254 1015</td>
    <td class="tdfaculty">&nbsp;</td>
    <td class="tdfaculty">&nbsp;</td>
  </tr>
<tr>
    <td class="tdfaculty">Officer on Special Duty</td>
    <td class="tdfaculty">91
      172 253 4297 </td>
    <td class="tdfaculty">91 172 254 1022</td>
    <td class="tdfaculty">&nbsp;</td>
  </tr>

  <tr>
    <td class="tdfaculty">Director, Public Relations</td>
    <td class="tdfaculty">91
      172 253 4865</td>
    <td class="tdfaculty">&nbsp;</td>
    <td class="tdfaculty"><a href="mailto:dpr@pu.ac.in">dpr@pu.ac.in</a></td>
  </tr>
</tbody></table>

</div>

</div> 
</div>

</body>
</html>>