<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content='width=device-width, initial-scale=1' name='viewport'/>
<title>PU image gallery</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<style type="text/css">
/*body{padding: 70px;}*/
body{background: #d0d0d0;}
.jumbotron{color: #001440;
background: #f5ede9;border-radius: 50px;}
navbar-inverse{background: #2c3e50;}
navbar-inverse .navbar-nav>li>a{color: white;}
navbar-inverse .navbar-brand{color: white;}
.img{border-color: #4b2266;border-width: 20px; }
.single-works :not(img)
{
position: absolute;
top: 30%;
z-index: 1;
color: #fff;
text-align: center;
width: 100%;
opacity: 0;
transition: 0.3s;
font-family: cursive; font-style: italic;

}
.single-works.h1.p{margin-top: 300px;}
/*.singlebefore, .singleafter{
content: ' ';
position: absolute;
top: 20px;
left: 20px;bottom: 20px;right: 20px;opacity: 0;z-index: 1;transform: scale(1.5);transition: all 0.6s ease 0.2s;
}*/
.single-works:hover{transform: translateY(-8px);}
.single-works :hover:not(img){opacity: 1;}
.single-works:hover img{filter: blur(2px) brightness(60%);}
/*.singlebefore{
border-left: 1px solid rgba(255,2555,255,0.9);
border-right: 1px solid rgba(255,2555,255,0.9);
left: 30px;
right: 30px;
}
.singleafter{
border-left: 1px solid rgba(255,2555,255,0.9);
border-right: 1px solid rgba(255,2555,255,0.9);
top: 30px;
bottom: 30px;
}*/
.single-works{margin-top: 20px;}
.single-works img{box-shadow: 10px;}
</style>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">PU OFFICIAL WEBSITE</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/">Home</a></li>
      <li class="active"><a href="image">IMAGE GALLERY</a></li>
      <li><a href="help">HELPLINE NUMBERS AND INFO</a></li>
      <li><a href="feedback">Feedback Form</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<div class="container">
<div class="jumbotron">
<h1 class="display-4"><span class="glyphicon glyphicon-camera" area-hidden="true"></span> The Essence of the Campus</h1>

<p>A small glance...</p>
</div>

<div class="row" style="margin-bottom: 40px;">

<div class="col-lg-4  col-md-6">
<div class="single-works">
<img style="height: 300px; width: 350px;"src="https://cdn.aglasem.com/college/college-images/panjab-university-pu-chandigarh.png">
<h1>Administrative Block</h1>

</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="single-works">
<img style="height: 300px; width: 350px;" src="https://uietadmissions.files.wordpress.com/2013/06/5.png?w=306&h=214">
<div class="d-flex justify-content-center align-content-center"><h1>Dramatics</h1>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="single-works">
<img style="height: 300px; width: 350px;" src="https://www.ilmkidunya.com/ckfinder/userfiles/images/Library%20(1)(1).jpg">
<h1>A.C Joshi Library</h1>

</div>
</div>
<div class="col-lg-4  col-md-6">
<div class="single-works">
<img style="height: 300px; width: 350px;"src="https://media-exp1.licdn.com/dms/image/C511BAQHZ-SP_TKRxZg/company-background_10000/0?e=2159024400&v=beta&t=DKjkb073a4QG90pPtSqtVzpkG5i6XMgyLgXiOLG5k4s">
<h1>Engineering Block UIET </h1>

</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="single-works">
<img style="height: 300px; width: 350px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQN5hEz8vXFdiylAJPyL9P8wCyV49kIA8XtaIrATNRORtQ-oG6y&usqp=CAU">
<h1>Bhangra</h1>

</div>

</div>
<div class="col-lg-4 col-md-6">
<div class="single-works">
<img style="height: 300px; width: 350px;" src="https://www.rafflesuniversity.edu.in/images/ProgEvent.jpg">

<h1>Law Auditorium</h1>

</div>

</div>
<div class="col-lg-4  col-md-6">
<div class="single-works">
<img style="height: 300px; width: 350px;"src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSRVikOHMOeBvMRouQuIXuWd62eaP-876slDlW6zH5G1_acV3en&usqp=CAU">
<h1> Student Center Refreshments</h1>

</div>
</div>
<div class="col-lg-4  col-md-6">
<div class="single-works">
<img style="height: 300px; width: 350px;"src="https://i.ytimg.com/vi/esiRv3XmMzw/maxresdefault.jpg">

<h1> Holi Celebration</h1>

</div>
</div>
<div class="col-lg-4  col-md-6">
<div class="single-works">
<img style="height: 300px; width: 350px;"src="https://images.indianexpress.com/2016/03/athletics225306dl1245.jpg">
<h1>Sports Club</h1>


</div>
</div>

</div>

</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>
