<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content='width=device-width, initial-scale=1' name='viewport'/>
<title>Login Page</title>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
<style type="text/css">{         font-family: 'Playfair Display', serif;
}
.form-group{
margin:100px 500px;
border:2px solid black;
background-color:#FFFFFF;
height: 450px;
width:400px;


}
.h1{text-decoration-line: underline;font-style: bold;}
body{margin: 0; padding: 0;background-image: url(https://c8.alamy.com/comp/WK5XXP/computer-station-at-the-university-college-library-with-seating-area-in-the-foreground-one-young-female-student-searching-far-in-the-background-WK5XXP.jpg);
background-size: cover;
background-position: right;
background-repeat: no-repeat;}

</style>
</head>
<body class="wrapper" >
<div class=" container wrapper">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">PU OFFICIAL WEBSITE</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/">Home</a></li>
      <li ><a href="image">IMAGE GALLERY</a></li>
      <li><a href="help">HELPLINE NUMBERS AND INFO</a></li>
      <li><a href="feedback">Feedback Form</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li class="active"><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<form  class="form-group wrapper jumbotron" style="background: #000; color: #F3F2F1;border: none;border-bottom: 1px,solid#fff;background:rgba(0,0,0,0.5);outline: none; padding-top: 50px;padding-right: 100px;padding-left: 100px;">
<h1 style="font-size: 55px;"><span class="glyphicon glyphicon-user" style="font-size: 45px; color: #F8171B;"></span>Login</h1>

<p style="padding-top: 20px;"><label style="font-size: 18px;">Username:</label>
<input type="Text" name="username" placeholder="Your Username" required></p>
<p style="padding-top: 20px;"><label style="font-size: 18px;">Password:</label>
<input type="Password" name="password" placeholder="ue******" required></p>
<p style="padding-top: 25px;"><input type="button" class=" btn btn-primary" style="width: 205px; height: 40px; border-radius: 20px;" value="Login" ></p>
</form>
</div>
</body>
</html>
