<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content='width=device-width, initial-scale=1' name='viewport'/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
<title>Project</title>
  <!-- <link rel="stylesheet" href="" id="bootswatch-css" title="Default"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<style type="text/css">
  .jumbotron{
    background-color: #E9D2D2;
    padding-right: 30px;
    padding-left: 50px;
    border-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color:#212121;
  text-align: center;
  height: 150px;
}
  .top.my-4{background-color: #001440;height: 3px;color:#001440;}
  html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
background: #FEFEFA;
}
.column1{
  float: left;
  width: 30%
  height: 20px;
  border-radius: 50px;
}
.column2{
  float: right;
  width: 50%
  height:50%;
  padding-right: 20px;
}
.slideshow{
  width: 450px;
  height: 520px;
  /*padding-left: 100px;*/
  padding-bottom: 100px;
  border-radius: 50px;
}
.footer-section.about{
  text-align: left;
  padding-left: 10px;
}
/*.row{
  margin-left: 10%;
  margin-right: 60%;
}*/
</style>
</head>
<body>
  <div id="wrapper">
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">PU OFFICIAL WEBSITE</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#1">Home</a></li>
      <li><a href="image" action="/html1" method="POST">IMAGE GALLERY</a></li>
      <li><a href="help">HELPLINE NUMBERS AND INFO</a></li>
      <li><a href="feedback">Feedback Form</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron x1" style="width: 100%;">
<h1 class="display-4 " style="padding-left: 50px; color:#001440;"><em>WELCOME TO PU WEB PORTAL</em></h1>
<p class="lead" style="padding-left: 50px; color:#001440"><em>This is the site of Panjab University</em></p>
  <hr class="my-4 top">
  <p style="padding-left: 50px;"></p>
  </div>
  <div class="form-group" style="padding-right: 150px;padding-left: 150px">
    <p class="lead" style="padding-left: 50px"></p>
  </div>
  <!-- footer -->
  <div class="footer navbar-fixed-bottom">
    <div class="container-fluid">
    <div class="footer-content row">
    <div class="footer-section about col-md-6 no-gutters d-flex justify-content-center align-content-center" style="font-family: serif; font-size: 14px;color: #E9DFD3;padding-left: 10px;"><em>ABOUT US: 
    </em>
      <ul>
        <li>Established in 1882 as University of Punjab at Lahore (now in Pakistan).</li>
        <li>1st among Universities of India and 38th in Asia, Times Higher Education Asian University rankings 2015.</li>
        <li>Ranked number one University in India and in the bracket 276-300 internationally in the Times Higher Education World University Rankings, 2014-2015 powered by Thomson Reuters</li>

      </ul>

    </div>
    <div class="footer-section links no-gutters col-md-6 d-flex justify-content-center align-content-center"style="font-family: serif; font-size: 14px;color: #E9DFD3;text-align: left;"><em>Links: 
    </em>
      <ul >
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Pay Fee Online</a></li>
      <li><a href="entrance"><span class="glyphicon glyphicon-log-in"></span> Schedule for Entrance Test 2020</a></li>
      <li><a href="timetable"><span class="glyphicon glyphicon-log-in"></span> Time Table</a></li>
    </ul>
    </div>
    <div class="footer-section contact-form"></div>
    </div>  
      
    </div>
  </div>
</div>
  <!-- //footer -->
  <div class="row">
    <div class="col-md-6 no-gutters" style=" padding-bottom: 100px; width: 30%; padding-left: 15px;padding-right: 15px;">
  <div class="column1 d-flex justify-content-center align-content-center no-gutters">
    <img class="slideshow" src="https://cdn.britannica.com/81/173881-050-6F2D8003/Manmohan-Singh.jpg">
    <img class="slideshow" src="https://img.huffingtonpost.com/asset/5d4a313f3b00004b00dae783.jpeg?cache=DfxvxR9Vvn&ops=1200_630">
    <img class="slideshow" src="https://www.oneindia.com/politicians/image/302x100x402x2/smt-kirron-kher-32984.jpg">
    <img class="slideshow" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Prof._Yash_Pal.jpg">
    <img class="slideshow" src="https://upload.wikimedia.org/wikipedia/commons/9/9c/Kalpana_Chawla%2C_NASA_photo_portrait_in_orange_suit.jpg">
    <img class="slideshow" src="https://www.gstatic.com/tv/thumb/persons/84286/84286_v9_bb.jpg">
    <img class="slideshow" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ1UGooa7ceXkcD8QvVRVDVwTNDqjbtUMcz1mfIQv9WPQwO36p3&usqp=CAU">
  </div></div>
  <div class="col-md-6 no-gutters" style="/*padding-bottom: 100px;*/ width: 40%;">
  <div class="column2 jumbotron d-flex justify-content-center align-content-center no-gutters" style="background-color: #325C74;padding-right: 20px;">
<h3 class="h3" style="font-family: Georgia, serif;font-style: bold,italic,; color: #EBEBEB;font-size: 22px; padding-top: 0px;"><em>Panjab University has produced a large number of distinguished alumni</em></h3><hr class="my-4" style="width: 50%; padding-bottom: 0;"><br>
<p style="font-family: cursive; font-style: italic; color: #FDD5BD;font-size: 16px;">They have contributed immensely to the cause of the nation building.Panjab University has a long tradition of pursuing excellencein teaching and research.Since its inception in <span class="h3" style="color:#FDD5BD; ">1882 at Lahore (now in Pakistan),</span> Panjab University has a long tradition of pursuing excellence in teaching and research.After partition, the University continued in its present form under a fresh legislative enactment of <span class="h3" style="color:#FDD5BD;"> October 1, 1947</span>
<!-- <hr class="my-4"> -->
  </div>
</div>
<div class="col-md-6 panel panel-default noticeboard" style="padding-bottom: 100px; width: 22%; height: 420px; background-color: #FFFAFA; ">
<div class="Title maindavcmcmenu">
<center><i class="glyphicon glyphicon-share-alt smallIcon" style="text-align: center; "></i><span id="lblNoticeBoard"style="font-family: Times New Roman, Times, serif;font-size: 18px;padding-bottom: 10px;">NOTICE BOARD</span></center>
 </div>
 <marquee scrollamount="3" onmouseover="this.stop();" onmouseout="this.start();" direction="up" style="height:380px; margin-top:5px;width: 100%;border-width: 3px; border-style: solid rgba(0,0,0.5,0.5);">
<div class=" content light">
 
        <ul class="list-group">
    
        <li class="Page-list-group-item">
                        <div style="position:relative">
                        <p>
   <strong style="background-color: initial;"><span style="background-color: rgb(255, 255, 0); color: rgb(0, 0, 0);"></span></strong>
</p>
<p>
  <img src="http://davborl.com/File/4554/New%20gif.gif"><strong style="background-color: initial;"><span style="background-color: rgb(255, 255, 0); color: rgb(0, 0, 0);">Admission Guidelines</span></strong><span style="background-color: rgb(255, 255, 0); color: rgb(0, 0, 0);"><strong>.</strong></span>
</p> &nbsp; 
                        <span id="Span1">
                    <a href="https://admissions.puchd.ac.in/admission-guidelines-2019-20.pdf" class="blankLink" target="_blank">
                        <img src="/MyImages/dw.png" alt="Download" title="Download" style="padding:2px;">
                    </a>  </span>
                        
                </div>
        </li>
           

        
        <li class="Page-list-group-item">
                        <div style="position:relative">
                        <p>
   <img src="http://davborl.com/File/4554/New%20gif.gif"> <strong><span style="color: rgb(0, 0, 0);"><span data-redactor="verified" data-redactor-inlinemethods="" style="background-color: rgb(217, 150, 148);">Corona virus precautions to be taken care.</span></span></strong>
</p> &nbsp; 
                        <span id="Span1">
                    <a href="/HighlightNewsDoc/3c346536-ca4a-4799-a7cc-49bda0ace00e_CORONA Precautions.pdf" class="blankLink" target="_blank">
                        <img src="/MyImages/dw.png" alt="Download" title="Download" style="padding:2px;">
                    </a>  </span>
                        
                </div>
        </li>
           

        
        <li class="Page-list-group-item">
                        <div style="position:relative">
                        <p>
  <img src="http://davborl.com/File/4554/New%20gif.gif"> <span style="background-color: rgb(255, 230, 148);"><strong> View Admission Notice</strong></span><span style="color: rgb(0, 0, 0);"><strong><span data-redactor="verified" style="background-color: rgb(255, 230, 148);"> in Admis</span><span style="background-color: rgb(255, 230, 148);">sion Menu.</span></strong></span>
</p> &nbsp; 
                        <span id="Span1">
                    <a href="https://admissions.puchd.ac.in/index.php" class="blankLink" target="_blank">
                        <img src="/MyImages/dw.png" alt="Download" title="Download" style="padding:2px;">
                    </a>  </span>
                        
                </div>
        </li>
           

        
        <li class="Page-list-group-item">
                        <div style="position:relative">
                        <p>
   <img src="http://davborl.com/File/4554/New%20gif.gif"><strong> <span style="background-color: rgb(217, 150, 148); color: rgb(0, 0, 0);">University News in CCA Menu.</span><br>
   </strong>
</p> &nbsp; 
                        
                        
                </div>
        </li>
           

        
        <li class="Page-list-group-item">
                        <div style="position:relative">
                        <p>
  <img src="http://davborl.com/File/4554/New%20gif.gif"><span style="color: rgb(0, 0, 0); background-color: rgb(229, 185, 183);"><strong>Time Table in the link menu.</strong></span><span style="color: rgb(0, 0, 0); background-color: rgb(229, 185, 183);"><strong></strong></span>
</p> &nbsp; 
                        
                        
                </div>
        </li>
           

        
        <li class="Page-list-group-item">
                        <div style="position:relative">
                        <p>
   <img src=""><span style="background-color: rgb(255, 255, 0); color: rgb(0, 0, 0);"> <strong>Schedule for enterance exam in the ink menu</strong></span><strong><span style="background-color: rgb(255, 255, 0); color: rgb(0, 0, 0);">.</span><span style="background-color: rgb(255, 255, 0); color: rgb(0, 0, 0);"></span></strong>
</p> &nbsp; 
                        
                        
                </div>
        </li>
           

        
        <li class="Page-list-group-item">
                        <div style="position:relative">
                        <p>
  <img src="http://davborl.com/File/4554/New%20gif.gif"> <strong><span style="color: rgb(0, 0, 0);"><span style="background-color: rgb(217, 150, 148);">Signup for your personalised dashboard</span></span></strong>
</p> &nbsp; 
                        <span id="Span1">
                    <a href="/HighlightNewsDoc/703d3d5a-f7a5-4226-9327-2d60b39f5408_Unified_Olympiad19.pdf" class="blankLink" target="_blank">
                        <img src="/MyImages/dw.png" alt="Download" title="Download" style="padding:2px;">
                    </a>  </span>
                        
                </div>
        </li>
           

        
        <li class="Page-list-group-item">
                        <div style="position:relative">
                        <p>
  <img src="http://davborl.com/File/4554/New%20gif.gif"> <strong><span style="background-color: rgb(255, 255, 0);"><span data-redactor="verified" data-redactor-inlinemethods="" style="color: rgb(0, 0, 0);">Pay Fee online through Link menu</span></span></strong>
</p> &nbsp; 
                        
                        
                </div>
        </li>
           

        
        <li class="Page-list-group-item">
                        <div style="position:relative">
                        <p>
   <img src="http://davborl.com/File/4554/New%20gif.gif"><strong><span style="color: rgb(0, 0, 0);"><span style="background-color: rgb(217, 150, 148);">Handbook of Information</span></span></strong>
</p> &nbsp; 
                        <span id="Span1">
                    <a href="https://admissions.puchd.ac.in/handbookofinformation.php" class="blankLink" target="_blank">
                        <img src="/MyImages/dw.png" alt="Download" title="Download" style="padding:2px;">
                    </a>  </span>
                        
                </div>
        </li>
           

        
        <li class="Page-list-group-item">
                        <div style="position:relative">
                        <p>
  <img src="http://davborl.com/File/4554/New%20gif.gif"><strong> <span style="background-color: rgb(255, 255, 0); color: rgb(0, 0, 0);">Campus Portal.</span><br>
  </strong>
</p> &nbsp; 
                        <span id="Span1">
                    <a href="http://campus.pu.ac.in/" class="blankLink" target="_blank">
                        <img src="/MyImages/dw.png" alt="Download" title="Download" style="padding:2px;">
                    </a>  </span>
                        
                </div>
        </li>
           

        
 <!--        <li class="Page-list-group-item">
                        <div style="position:relative">
                        <p>
  <a href="http://davborl.com/AdminSection/News-Hightlight.aspx?id=54"></a>
</p>
<p>
   <img src="http://davborl.com/File/4554/New%20gif.gif"><strong></strong>
</p>
<p>
   <strong><span style="background-color: rgb(217, 150, 148); color: rgb(0, 0, 0);">Steps to Open Assignments in OSM.</span><br>
  </strong>
</p> &nbsp; 
                        <span id="Span1">
                    <a href="/HighlightNewsDoc/8d1e8b90-ac76-408b-bb9a-ab6990c3c81c_steps.docx" class="blankLink" target="_blank">
                        <img src="/MyImages/dw.png" alt="Download" title="Download" style="padding:2px;">
                    </a>  </span>
                        
                </div>
        </li> -->
           

        
        <li class="Page-list-group-item">
                        <div style="position:relative">
                        <p>
   <img src="http://davborl.com/File/4554/New%20gif.gif"><strong><span style="color: rgb(0, 0, 0);"><span style="background-color: rgb(255, 255, 0);">PU Site Map.</span></span></strong>
</p> &nbsp; 
                        <span id="Span1">
                    <a href="https://puchd.ac.in/sitemap.php" class="blankLink" target="_blank">
                        <img src="/MyImages/dw.png" alt="Download" title="Download" style="padding:2px;">
                    </a>  </span>
                        
                </div>
        </li>
           

<!--         
        <li class="Page-list-group-item">
                        <div style="position:relative">
                        <p>
   <img src="http://davborl.com/File/4554/New gif.gif"> <strong><span style="color: rgb(0, 0, 0);"><span data-redactor="verified" style="background-color: rgb(255, 255, 0);"></span></span></strong>
</p> &nbsp; 
                        
                        
                </div>
        </li> -->
           

        
        <li class="Page-list-group-item">
                        <div style="position:relative">
                        <p>
  <img src="http://davborl.com/File/4554/New gif.gif"> <strong><span style="background-color: rgb(229, 185, 183);"></span><span style="color: rgb(0, 0, 0); background-color: rgb(229, 185, 183);">Contact PU</span></strong>
</p> &nbsp; 
                        <span id="Span1">
                    <a href="https://puchd.ac.in/contactus.php" class="blankLink" target="_blank">
                        <img src="/MyImages/dw.png" alt="Download" title="Download" style="padding:2px;">
                    </a>  </span>
                        
                </div>
        </li>
           

        
        <li class="Page-list-group-item">
                        <div style="position:relative">
                        <p>
   <img src="http://davborl.com/File/4554/New gif.gif"> <span style="color: rgb(0, 0, 0);"><span style="background-color: rgb(229, 185, 183);"></span></span><strong><span style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 0);">Employment And Jobs</span></strong>
</p> &nbsp; 
                        <span id="Span1">
                    <a href="https://jobs.puchd.ac.in/" class="blankLink" target="_blank">
                        <img src="/MyImages/dw.png" alt="Download" title="Download" style="padding:2px;">
                    </a>  </span>
                        
                </div>
        </li>
           

        
 <!--        <li class="Page-list-group-item">
                        <div style="position:relative">
                        <p>
  <strong><span style="background-color: rgb(217, 150, 148);"><span style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 0);"></span></span></strong>
</p>
<p>
  <img src="http://davborl.com/File/4554/New%20gif.gif"> <strong><span style="background-color: rgb(217, 150, 148);"><span style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 0);">Transfer Certificate in Download Menu.</span></span></strong>
</p> &nbsp; 
                        
                        
                </div>
        </li> -->
           

        
        <li class="Page-list-group-item">
                        <div style="position:relative">
                        <p>
  <img src="http://davborl.com/File/4554/New%20gif.gif" style="width: 33px;"> <span style="background-color: rgb(217, 150, 148);"><span style="color: rgb(0, 0, 0);"></span></span><strong><span style="background-color: rgb(217, 150, 148); color: rgb(0, 0, 0);">PU NET</span><span style="background-color: rgb(217, 150, 148); color: rgb(0, 0, 0);">.</span></strong>
</p>
<p>
  <strong></strong>
</p> &nbsp; 
                        <span id="Span1">
                    <a href="http://punet.puchd.ac.in/" class="blankLink" target="_blank">
                        <img src="/MyImages/dw.png" alt="Download" title="Download" style="padding:2px;">
                    </a>  </span>
                        
                </div>
        </li>
           

        
<!--         <li class="Page-list-group-item">
                        <div style="position:relative">
                        <p>
  <img src="http://davborl.com/File/4554/New%20gif.gif" style="background-color: initial;"> <strong><span style="color: rgb(0, 0, 0); background-color: rgb(217, 150, 148);">DAV+ APP Manual</span></strong><strong style="background-color: initial;"><span style="color: rgb(0, 0, 0); background-color: rgb(217, 150, 148);">.</span></strong>
</p> &nbsp; 
                        <span id="Span1">
                    <a href="/HighlightNewsDoc/633e8153-e9bb-4854-8cf6-0b16fe714a37_App_manual1.pdf" class="blankLink" target="_blank">
                        <img src="/MyImages/dw.png" alt="Download" title="Download" style="padding:2px;">
                    </a>  </span>
                        
                </div>
        </li>
            -->

        
        </ul>
       
</div>
</marquee>
  </div>
</div>
<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("slideshow");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 3000); // Change image every 2 seconds
}
</script>
</body>
</html>
