<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
   <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <title>Time Table for BE Computer Science</title>
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>
    <marquee direction="right"><h1><i>Time Table for BE Computer Science (Sec-2) (4th Semester) [odd]</i></h1></marquee>
    
    <table>
        <tr> 
            <th>Days</th>
            <th>9-10</th>
            <th>10-11</th>
            <th>11-12</th>
            <th>12-13</th>
            <th>13-14</th>
            <th>14-15</th>
            <th>15-16</th>
            <th>16-17</th>
        </tr>
        <tr><th rowspan="3">Monday</th><td rowspan="3"><img src="./image/image.png" height="100"></td><td rowspan="3">Operating System</td><td rowspan="3">Analysis and Design of Algorithm</td><td rowspan="3">Software Engineering</td><td><font color = "red">Software Engineering Group 4 (T)</td><td colspan="3"><u>Software Engineering Group4(P)</u></td></tr>
        <tr><td><font color = "red">Web Technologies Group 5 (T)</td><td colspan="3"><u>Web Technologies Group 5 (P)</td></tr>
        <tr><td><font color = "red">Operating System Group 6 (T)</td><td colspan="3"><a href="os"><u>Operating Sysytem Group 6 (P)</td></tr>
        
        
        <tr><th rowspan="3">Tuesday</th><td rowspan="3"><img src="./image/image.png" height="100"></td><td rowspan="3">Operating System </td><td rowspan="3">Analysis and Design of Algorrithm</td><td rowspan="3">Web Technologies</td><td rowspan="3">Software Engineering</td><td colspan="3"><u>Web Technologies</td></tr>
        <tr><td colspan="3">&nbsp;</td></tr>
        <tr><td colspan="3">&nbsp;</td></tr>

        <tr><th rowspan="3">Wednesday</th><td><font color = "red">Web Technologies Group 4 (T)</td><td colspan="3"><u>Operating system Group 4 (P)</td><td rowspan="3"><img src="./image/image.png" height="100"></td><td rowspan="3">Computer Architecture and Organization</td><td rowspan="3">Computer Architecture and Organization</td><td><font color = "red">Operating System Group 4 (T)</td></tr>
        <tr><td><font color = "red">Computer Architecture and Organization Group 5 (T)</td><td colspan="3">Analysis and Design of Algorithm Group 5 (P)</td><td><font color = "red">Analysis and Desgin of Algorithm Group 5 (T)</td></tr>
        <tr><td><font color = "red">Software Engineering Group 6 (T)</td><td colspan="3"><a href="software"> <u>Software Engineering Group 6 (P)</td><td><font color = "red">Computer Architecture and Organization Group 6 (T)</td></tr>

        <tr><th rowspan="3">Thursday</th> <td><font color = "red">Analysis and Design of Algorithm Group 4 (T)</td><td colspan="3"><u>Analysis and Design of Algorithm (P)</td><td rowspan="3"><img src="./image/image.png" height="100"></td><td rowspan="3">Computer Architecture and Organization</td> <td rowspan="3">Software Engineering</td> <td rowspan="3">Web Technologies</td></tr>
        <tr><td><font color = "red">Operating Systems Group 5 (T)</td><td colspan="3"><u>Operating System (P)</td></tr>
        <tr><td><font color = "red">Web Technologies Group 6 (T)</td><td colspan="3"><a href="web"><u>Web Technologies (P)</td></tr>

        <tr><th rowspan="3">Friday</th><td rowspan="3"><img src="./image/image.png" height="100"></td><td rowspan="3">Operating System</td><td rowspan="3">Analysis and Design of Algorithm</td><td rowspan="3">Web Technologies</td><td><font color = "red">Computer Architecture and Organization and Orgnaization Group 4 (T)</td><td colspan="3">&nbsp;</td></tr>
        <tr><td><font color = "red">Software Engineering Group 5 (T)</td><td colspan="3"><u>Software Engineering</td></tr>
        <tr><td><font color = "red">Analyis and Design of Algorithm Group 6</td><td colspan="3"><a href="ada"><u>Analysis and Design of Algorithm (P)</td></tr>
    </table>
</body>
</html>
